/* CSS BY Sarina */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* CSS RESET */
*,
*::before
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* ROOT VARIABLES */
:root {
    --midnight-blue: #1F2A44;
    --olive-green: #76885B;
    --champagne-gold: #E5C185;
    --linen: #F8F4EC;
    --dark-charcoal: #2B2B2B;
    --soft-white: #FAF9F6;

    --font-main: 'Playfair Display', serif;
}

/* GLOBAL STYLES (mobile first/small) */
body {
    font-family: var(--font-main);
    background-color: var(--linen);
    color: var(--dark-charcoal);
    line-height: 1.5;
  }

header {
    background-color: var(--midnight-blue);
    color: var(--soft-white);
    text-align: center;
    padding: 2.5rem 1rem;
  }

header h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

header p {
    font-style: italic;
    color: var(--champagne-gold);
}

nav {
    background-color: var(--champagne-gold);
  text-align: center;
  padding: 0.75rem 0;
}

nav a {
    margin: 0 1rem;
  color: var(--midnight-blue);
  font-weight: 600;
}

section {
    padding: 2rem 1rem;
}

h2 {
    color: var(--midnight-blue);
    margin-bottom: 1rem;
}
